* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f9f9f9;
}

p {
    margin-bottom: 0;
}

/* Header */
.pf_header {
    position: sticky;
    top: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
}

.pf_header .navbar-brand {
    padding: 0;
}

.pf_header img {
    width: 50px;
}

.pf_header .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    font-weight: 500;
    transition: transform 0.3s ease;
}

.pf_header .nav-link:hover {
    color: #B55755 !important;
    transform: scale(1.1);
}

/* Header */

/* AboutUs */
.aboutussection {
    margin: 5% 0px;
    display: flex;
    align-items: center;
}

.aboutussection img {
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

.aboutussection h2,
.aboutussection h4 {
    margin-bottom: 5px;
    color: #B55755;
}

.aboutussection h6 {
    color: #65cccd;
    border-right: 1px solid #65cccd;
    /* Simulate cursor */
    white-space: nowrap;
    /* Prevent line breaks */
    overflow: hidden;
    /* Hide overflowing characters */
    animation: typing 3s steps(30) infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 35%;
    }
}

@media (max-width:1199px) and (min-width:767px) {

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 50%;
        }
    }
}

@media (max-width:768px) {

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }
}

.aboutussection p {
    font-family: "Roboto", sans-serif;
    color: #444444;
}

.aboutussection a {
    text-decoration: none;
    color: #65cccd;
    font-size: 16px;
    padding: 7px 10px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    /* Hide overflowing shadow */
    transition: transform 0.3s ease;
}

.aboutussection a::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid transparent;
    /* Transparent border to preserve space */
    border-radius: 10px;
    box-shadow:
        0 0 0 1px #65cccd,
        /* Border line */
        0 0 0 1px #65cccd inset;
    /* Inner border line */
    animation: rotateBorder 3s infinite linear;
    /* Adjust duration and timing function as needed */
}

@keyframes rotateBorder {
    0% {
        box-shadow:
            0 0 0 1px #65cccd,
            /* Border line */
            0 0 0 1px #65cccd inset,
            /* Inner border line */
            0 0 #65cccd,
            /* Outer shadow */
            0 0 #65cccd inset;
        /* Inner shadow */
    }

    100% {
        box-shadow:
            20px 0 0 1px #65cccd,
            /* Border line */
            -20px 0 0 1px #65cccd inset,
            /* Inner border line */
            0 0 #65cccd,
            /* Outer shadow */
            0 0 #65cccd inset;
        /* Inner shadow */
    }
}

.aboutussection a:hover {
    transform: scale(1.1);
}

.aboutussection span>img {
    width: 20px;
}

/* About Us */

/* Skills */
.skills h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #B55755;
    text-align: center;
}

.skillsets {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
}

.skillsets>div {
    background-color: #F7F7F7;
    width: 150px;
    height: 100px;
    border-radius: 20px;
    padding: 10px;
    transition: transform 0.3s ease;
    display: flex;
    /* Use flexbox to center the image vertically */
    justify-content: center;
    /* Center the image horizontally */
    align-items: center;
}

.skillsets img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.skillsets>div:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.1);
    /* Scale the div on hover */
}

/* Skills */

/* Projects */
.projects {
    margin: 3% auto;
}

.projects h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #B55755;
    text-align: center;
}

.projectsection {
    display: flex;
    justify-content: space-around;
    gap: 35px 30px;
    flex-wrap: wrap;
}

.projectsection>div {
    width: 31%;
    transition: transform 0.3s ease-in;
}

.projectsection img {
    width: 100%;
    opacity: 0.7;
}

.pcard {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f1f1f1;
    overflow: hidden;
    width: 100%;
    height: 0%;
    transition: .5s ease;
}

.pcard h4 {
    white-space: nowrap;
    color: #65cccd;
    position: absolute;
    overflow: hidden;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.projectsection>div:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.1);
    /* Scale the div on hover */
}

.projectsection>div:hover img {
    opacity: 1;
}

.projectsection>div:hover .pcard {
    height: 10%;
    padding: 15px 0px;
}

@media (max-width:992px) {
    .projectsection>div {
        width: 40%;
    }
}

@media (max-width:545px) {
    .projectsection>div {
        width: 90%;
    }
}

/* Projects */

/* Contact Us */

.contactus {
    margin: 3% auto;
}

.getclass {
    position: relative;
}

.getintouch {
    background-color: #b3edfd;
    border-radius: 20px;
    /* height: 200px; */
    width: 100%;
    z-index: 2;
    padding: 20px;
    margin: 15px 0;
}

.contactcard {
    background-color: #f1f1f1;
    padding: 25px;
    border-radius: 10px;
    margin: 15px 0;
}

.contactcard .bi {
    font-size: 20px;
}

.contactcard div {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 7px 0px;
}

#emailText {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Contact Us */
/* Footer */
.footer {
    background-color: #b3edfd;
    font-size: 20px;
    padding: 10px 15px;
}

.footer div a:hover .bi {
    color: #B55755;
}

.footer div {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

/* Footer */

/* Scroll To Top */
#scroll-top {
    position: fixed;
    bottom: 45px;
    right: 25px;
    font-size: 34px;
    cursor: pointer;
    color: #65cccd;
}

#scroll-top:hover {
    transition: 0.3s;
    color: #B55755;
    box-shadow: 0 0 20px 4px #fff;
}

/* Scroll To Top */